In [97]:
import pandas as pd
import numpy as np

In [98]:
df1 = pd.read_csv("data/us_disaster_declarations.csv")

# drop all rows with year less than 1979 and greater than year 2019
index_names = df1[(df1['fy_declared'] < 1979) |
                      (df1['fy_declared'] > 2019)].index
df1.drop(index_names, inplace=True)

# List of columns to be dropped
dropped_columns = ['fema_declaration_string', 'declaration_title', 'incident_begin_date',
                       'incident_end_date', 'disaster_closeout_date', 'place_code',
                       'designated_area', 'declaration_request_number', 'hash', 'last_refresh',
                       'id', 'declaration_date', "fips"]

# Drop columns listed above
df1.drop(labels=dropped_columns, axis=1, inplace=True)

In [99]:
df1 = df1.loc[(df1['fy_declared'] >= 2017) & (df1['fy_declared'] <= 2017) & (df1['incident_type'] == "Hurricane")]

In [100]:
df1

,disaster_number,state,declaration_type,fy_declared,incident_type,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared
46157,3377,FL,EM,2017,Hurricane,0,0,1,0
46158,3377,FL,EM,2017,Hurricane,0,0,1,0
46159,3377,FL,EM,2017,Hurricane,0,0,1,0
46160,3377,FL,EM,2017,Hurricane,0,0,1,0
46161,3377,FL,EM,2017,Hurricane,0,0,1,0
...,...,...,...,...,...,...,...,...,...
47985,4341,FL,DR,2017,Hurricane,1,0,1,1
47986,4341,FL,DR,2017,Hurricane,1,0,1,1
47987,4341,FL,DR,2017,Hurricane,1,0,1,1
47988,4341,FL,DR,2017,Hurricane,1,0,1,1
47989,4341,FL,DR,2017,Hurricane,1,0,1,1

In [124]:
z = df1['state'].value_counts()
x = df1['state'].value_counts().rename_axis("state_name").reset_index(name="count").head(3)

In [125]:
a = {
    "GA":"Georgia",
    "PR":"asa",
    'FL':'Florida'
}

In [126]:
y = x.to_dict("records")

In [127]:
for i in y:
    i['state_name'] = a[i['state_name']]

In [128]:
y

[{'state_name': 'Georgia', 'count': 368},
 {'state_name': 'asa', 'count': 198},
 {'state_name': 'Florida', 'count': 187}]