In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv("data/us_disaster_declarations.csv")

# drop all rows with year less than 1979 and greater than year 2019
index_names = df1[(df1['fy_declared'] < 1979) |
                      (df1['fy_declared'] > 2019)].index
df1.drop(index_names, inplace=True)

# List of columns to be dropped
dropped_columns = ['fema_declaration_string', 'declaration_title', 'incident_begin_date',
                       'incident_end_date', 'disaster_closeout_date', 'place_code',
                       'designated_area', 'declaration_request_number', 'hash', 'last_refresh',
                       'id', 'declaration_date', "fips"]

# Drop columns listed above
df1.drop(labels=dropped_columns, axis=1, inplace=True)

In [4]:
df1 = df1.loc[(df1['fy_declared'] >= 2010) & (df1['fy_declared'] <= 2019)]

,disaster_number,state,declaration_type,fy_declared,incident_type,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared
6730,566,CA,DR,1979,Flood,0,1,1,0
6731,3067,CA,EM,1979,Fire,0,1,0,0
6732,567,LA,DR,1979,Tornado,0,1,1,0
6733,567,LA,DR,1979,Tornado,0,1,1,0
6734,568,KY,DR,1979,Flood,0,1,1,0
...,...,...,...,...,...,...,...,...,...
50893,4464,SC,DR,2019,Hurricane,0,0,1,1
50894,4464,SC,DR,2019,Hurricane,0,0,1,1
50895,4464,SC,DR,2019,Hurricane,0,0,1,1
50896,4464,SC,DR,2019,Hurricane,0,0,1,1
50897,4464,SC,DR,2019,Hurricane,0,0,1,1